@import 'https://fonts.googleapis.com/css?family=Shrikhand';
* {
    font-family: 'Shrikhand', cursive;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("../imgs/karpaty.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    background-attachment: fixed;
    color: #fff !important;
    font-size: 16px;
    margin: 0 auto;
    
}


header {
    height: 100vh;
}

.togglemenu {
    height: 50px;
    width: 50px;
    background-color: #822442;
    border: 2px solid #333333;
    cursor: pointer;
    display: none;
    margin-left: auto;
    position: relative;
}

.togglemenu .palka {
    position: absolute;
    border: 2px solid #333333;
    width: 30px;
    top: 17px;
    left: 10px;
}

.togglemenu .palka2 {
    position: absolute;
    border: 2px solid #333333;
    width: 30px;
    top: 28px;
    left: 10px;
}

.togglemenu.click .palka {
    transform: rotate(45deg);
}

.togglemenu.click .palka2 {
    transform: rotate(45deg);
}

.wrapper {
    width: 100%;
    height: 100%;
}



.header-text {
    text-align: center;
    margin: 0 auto;
    clear: right;
    font-size: 1.5em;
}


.header-images {
    position: static;
     margin: 0 auto;
    width: 700px;
    text-align: center;
    margin-bottom: 105px;
}
.logoimg {
    width: 70%;
}

#moreinf-button {
    margin-top: 0;
    text-align: center;
    border-color: black;
    margin-bottom: 20px;
    border-radius: 30px;
    outline: none;
    

}

.checkitoutbutton {
    border-radius: 30px;
}

#about {

    background-image: url("../imgs/wood.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
   
  
}

#about p {
    line-height: 2.5;
    color: black;
}

.aboutme {
    text-align: center;
}

#biograf {
    text-align: center;
    opacity: 1;
}

.firstpar {
    text-align: center;
    margin: auto;
}

.godownbutton {
    text-align: center;
    outline: none;
  
}

#gallery {
    text-align: center;
    
}

.somephotoes {
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(2,0,0,0.5);
}

#owl-example .gallery-wrapper {
     overflow: hidden;
    width: 100%;
    height: 100%;
    
}



.owl-buttons div {
    display: inline-block;
   
}

.owl-prev {
    margin-right: 20px;
}

.gallerimg {
    border-radius: 15px;
    margin-bottom: 50px;
    width: 600px;
    min-height: 100%;
    
}



#contact-info {
    float: left;
    width: 33%
}

#spacecat {
    border-radius: 10px;
    float: left;
    width: 33%
    
}

#form {
    float: left;
    width: 33%;
}

input {
    outline: none;
    border-radius: 10px;
    
    
  
}
textarea {
      outline: none;

    
    border-radius: 10px;
    resize: none;
    padding: 1px;
    width: 190px;
}

.clearfix {
    clear: both;
}


.text-center {
    text-align: center;
}

.pt-15 {
    padding-top: 15px;
}

.ggg {
    text-align: center;
    width: 35%;
    float: right;
    margin-bottom: 70px;
    margin-top: 30px;
    
    
}
.ggg1 {
    background-image: url("../imgs/noopacityddd.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    width: 100%;
    z-index: 0;
    margin-bottom: 0;
   box-shadow: 0px 15px 27px 3px rgba(78,59,72,0.75);
   
  
}
.ggg a:hover {
    color: #A6B51E; 
   
    
   }

.ggg.fixed {
    z-index: 1;
    position: fixed;
    right: 0;
    top: 0;
}

.ggg > ul > li {
    display: inline-block;
    list-style: none;
    margin-right: 30px;
}

.ggg > ul > li a {
    text-decoration: none;
    color: #fff;
}

#contact a {
clear: left;
padding: 10px;
}
#contact img {
    border-radius: 15px;
}

button, 
button:active, 
button:focus {
    outline: none;
}
footer p {
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
}
#form {
color: black;
}
#contact h2 {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

@media (max-width:767px) {
    body {
        font-size: 14px;
    }
    header {
        height: auto;
    }
    #contact-info,
    #spacecat,
    #form {
        width: 100%;
        height: 100%;
    }
    .firstpar {
        width: 100%;
    }
    .ggg {
        width: 100%;
    }
    .ggg ul {
        width: 100%;
        background-color: #822442;
    }
    .ggg ul {
        display: none
    }
    .ggg ul.active {
        display: block;
    }
    .togglemenu span.original {
        background-image: url(../imgs/mobile_menu.png);
        background-size: 50px;
        width: 50px;
        height: 50px;
        display: block;
    }
    .togglemenu {
        display: block;
    }
    .ggg > ul > li {
        display: block;
        border-bottom: 2px solid black;
        margin-right: 0;
    }
    .ggg > ul > li a {
        padding: 15px 0;
        display: block;
    }
    .header-images {
    
    width: 100%;
    height: 100%;
}
.gallerimg{
    width: 100%;
    height: 100%;
}
#contact-info {
    margin-bottom: 20px;
}

#about h2 {
  font-size: 3.0vh;
}
#about p {
  font-size: 2vmin;
}
.firstpar {
    padding-top: 30%;
}
   
}

